* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v17_0 {
  width: 595px;
  height: 919px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v74_527 {
  width: 62px;
  height: 14px;
  background: url("../images/v74_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 799px;
  left: 51px;
  overflow: hidden;
}
.v74_530 {
  width: 62px;
  height: 14px;
  background: url("../images/v74_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v74_263 {
  width: 359px;
  height: 94px;
  background: url("../images/v74_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 170px;
  overflow: hidden;
}
.v74_264 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v74_265 {
  width: 359px;
  height: 63px;
  background: url("../images/v74_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v74_266 {
  width: 359px;
  height: 31px;
  background: url("../images/v74_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v74_267 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v74_268 {
  width: 359px;
  color: rgba(99,99,99,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_269 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v4_17 {
  width: 359px;
  height: 94px;
  background: url("../images/v4_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 170px;
  overflow: hidden;
}
.v4_18 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_19 {
  width: 359px;
  height: 63px;
  background: url("../images/v4_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v4_20 {
  width: 359px;
  height: 31px;
  background: url("../images/v4_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_21 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v4_22 {
  width: 359px;
  color: rgba(99,99,99,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v4_23 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v4_0 {
  width: 359px;
  height: 88px;
  background: url("../images/v4_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 170px;
  overflow: hidden;
}
.v4_1 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_2 {
  width: 359px;
  height: 57px;
  background: url("../images/v4_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v4_3 {
  width: 359px;
  height: 13px;
  background: url("../images/v4_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_4 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v4_6 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_246 {
  width: 359px;
  height: 213px;
  background: url("../images/v74_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 170px;
  overflow: hidden;
}
.v74_247 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v74_248 {
  width: 359px;
  height: 89px;
  background: url("../images/v74_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v74_249 {
  width: 359px;
  height: 45px;
  background: url("../images/v74_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v74_250 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v74_251 {
  width: 359px;
  color: url("../images/v74_251.png");
  position: absolute;
  top: 17px;
  left: 0px;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_252 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_253 {
  width: 359px;
  height: 77px;
  background: url("../images/v74_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  overflow: hidden;
}
.v74_254 {
  width: 359px;
  height: 45px;
  background: url("../images/v74_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v74_255 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v74_256 {
  width: 359px;
  color: url("../images/v74_256.png");
  position: absolute;
  top: 17px;
  left: 0px;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_257 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_270 {
  width: 359px;
  height: 91px;
  background: url("../images/v74_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 170px;
  overflow: hidden;
}
.v74_271 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v74_272 {
  width: 359px;
  height: 60px;
  background: url("../images/v74_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v74_273 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v74_521 {
  width: 122px;
  height: 580px;
  background: url("../images/v74_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 22px;
  overflow: hidden;
}
.v74_522 {
  width: 122px;
  height: 580px;
  background: url("../images/v74_522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v74_523 {
  width: 117px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 144px;
  opacity: 1;
  text-align: center;
}
.v74_524 {
  width: 49px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 145px;
  left: 36px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 144px;
  opacity: 1;
  text-align: center;
}
.v74_525 {
  width: 107px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 290px;
  left: 7px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 144px;
  opacity: 1;
  text-align: center;
}
.v74_526 {
  width: 122px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 435px;
  left: 0px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 144px;
  opacity: 1;
  text-align: center;
}
.v17_1 {
  width: 595px;
  height: 238px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 595px;
  border: 1px solid rgba(17,17,17,1);
}
.v17_2 {
  width: 146px;
  height: 146px;
  background: url("../images/v17_2.png");
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 225px;
  border-radius: 50%;
}
.v4_11 {
  width: 58px;
  height: 59px;
  background: url("../images/v4_11.png");
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 218px;
  border-radius: 50%;
}
.v4_16 {
  width: 156px;
  height: 160px;
  background: url("../images/v4_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 323px;
  overflow: hidden;
}
.v4_73 {
  width: 157px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 411px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_87 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 411px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
